body {
    background-color: blanchedalmond;
}

#addButton{
    background-color:bisque;
    border-radius: 5px;
}

li{
    display: flex;
    justify-content: space-between;
}

*{
    box-sizing: border-box;
}

span{
    position: relative;
    z-index: 1;
}

#updateBox{
    position: absolute;
    z-index: 10;
}